* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

html,
body {
    height: 100%;
    max-height: 100%;
    background-color: #fcf8f0;
}

a {
    text-decoration: none;
}

.title {
    font-size: 48px;
    color: #629460;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: normal;
}

ul {
  list-style: none;
}

/* Layout */

.container {
    display: flex;
    max-height: 100vh;

    .navbar {
        flex: 0 0 64px;
    }

    .content {
        flex-basis: calc(100% - 64px);
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
    }
}

/* NavBar */

.navbar {
    &__navlink {
        background: transparent;
        border: 0;
        margin-bottom: 30px;

        &:nth-child(2) {
            margin-bottom: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            color: #fac46e;
        }

        &.active svg,
        &:hover svg {
            color: #629460;
        }
    }
}

/* Search form */

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100vh;
    background-color: #fcffcc;

    &__form {
        width: 100%;
        text-align: center;
    }

    &__input {
        display: block;
        margin: 56px auto;
        width: 314px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #609360;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 3px;
        text-align: center;
        color: #629460;
    }

    &__button {
        width: 288px;
        height: 40px;
        color: #ffffff;
        letter-spacing: 3px;
        text-transform: uppercase;
        border: 0;
        border-radius: 20px;
        background-color: #629460;
        box-shadow: inset 0 1px 20px 0 rgba(33, 105, 153, 0.39);

        &:hover {
            background-color: darken(#629460, 5%);
        }
    }
}

/* Comments Table */
.comments-table {
    position: relative;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);

    &__title {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #673407;
        padding: 20px 0 12px;
    }

    &__form {
        display: none;
        justify-content: space-between;
        margin-bottom: 1em;

    }

    &__table {
        border-collapse: collapse;

        td {
            font-size: 18px;
            color: rgb(218, 178, 149);
            padding: 12px;
            padding-right: 0;

            &:first-child {
                padding-left: 24px;
            }

            /* Author cell */
            &:nth-child(3){
                min-width: 180px;
                display: flex;
                align-items: center;
            }

            a {
                color: rgba(103, 52, 7, .48);
            }

            img {
                width: 56px;
                height: 56px;
                border-radius: 100%;
                margin-right: 16px;
            }
        }
    }

    &__thead {
        background-color: rgba(36, 49, 25, 0.08);

        tr {
            height: 56px;
        }

        th {
            font-size: 18px;
            color: rgba(103, 52, 7, 0.88);
        }
    }

    &__tr {

      &:nth-child(even) {
        background-color: rgba(103, 52, 7, 0.08);
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(98, 148, 96, 0.24);
      }
    }
}

/* Results */

.results-page {
    margin: 40px 3.8% 50px;

    &__title{
        margin-bottom: 36px;
    }
}

/* World Map*/

.worldmap {
    svg {
        max-width: 100%;
    }
}

/* Modal */

.modal {
    position: relative;

    &__button {
        position: absolute;
        background: transparent;
        border: 0;
        top: 12px;
        right: 40px;
        color: rgb(212, 215, 208);
    }
}

/* Tweet Modal */

.tweet-modal {
    &__element {
        display: flex;
        align-items: center;
        min-height: 60px;

        &--margin-bottom {
            margin-bottom: 36px;
        }
    }

    &__label {
        display: block;
        min-width: 86px;
        text-align: left;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(103, 52, 7, 0.88);
        margin: 0;

        &--margin-bottom {
            margin-bottom: 10px;
        }
    }

    &__text-value {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgb(218, 178, 149);
    }

    a:hover {
        text-decoration: underline;
    }

    &__emotion-bars {
        display: flex;
        flex-wrap: wrap;
    }

    &__emotion-bar-container {
        display: flex;
        align-items: center;
        color: rgb(212, 215, 208);
        padding-right: 16px;
    }

    &__emotion-bar {
        width: 260px;
    }
}

.tweet-modal-author {
    &__image {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin-right: 16px;
    }
}
